$color: (
  main-dark-color: #000,
  main-light-color: #fff,
  main-bg-color: #dc143c,
  main-text-color: #222,
);

$font: (
  mont-family: "Montserrat",
  mono-family: "Monoton",
  rale-family: "Raleway",
);
