* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.6rem;
}

form {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.6);
  h2 {
    color: #3498db;
  }
  #user-input {
    margin: 10px 0 24px;
    input {
      &:nth-child(1) {
        border: none;
        border-bottom: 1px solid #3498db;
        &::placeholder {
          color: #3498db;
          font-size: 1.2rem;
          opacity: 1;
          transition: opacity 0.3s;
        }
        &:focus {
          outline: none;
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }
  }
}
