* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  border: 1px solid #f00;
}

.program .sale {
  display: flex;
}
.program .sale .percent {
  display: flex;
  flex-direction: column;
}
.program img {
  width: 170px;
  height: 100px;
}